# VS Code
.vs
.vscode

# Build files and artifacts
build/*.o
build/*.elf
build/bin/*.bin

# Fusee Gelee Launcher
fusee.py
intermezzo.bin

# Mac Specific Stuff
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk